
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,p{
    margin: 0;
    padding: 0;
    font-weight: 600;
}
ul{
    margin: 0;
    padding: 0;
}
section{
    margin-top: 10rem;
}
/*start nav bar*/

nav{
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav .right-logo{
    color: #fff;
    padding: 1rem 2rem;
}

nav .right-logo p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    
}
nav .right-logo p span{
    margin-right: 10px;
}

nav .links{
    width: 30%;
}
nav .nav-links{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav .nav-links li a{
    color: #fff;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}
nav .nav-links li a:hover{
    text-decoration: underline;
    font-weight: bold;
}
/*About me section*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 4rem;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    
}
.about .container .right {
    width:25%;
}
.about .container .right img {
    width: 100%;
}
.about .container .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.about .container .left h1{
    color: blueviolet;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.about .container .left p{
    color: #9b9b9b;
    line-height: 1.6;
    
}
/*skils section*/

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 4rem;
}
.skills .container{
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
width: 80%;

}

.skills .container .card{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}
.skills .container .card img{
    width: 25%;
}

/*projects section*/

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 4rem;
}
.projects .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.projects .container h1{
    font-size: 3rem;
    color: blueviolet;
    margin-bottom: 1rem;
}

.container .content{
    margin-left:5rem ;
    font-weight: bold;
    width: 89%;
}

.container .content .project h3{
    font-size: 1.5rem;
}

.container .content .project ul{
    margin-left :4rem;
}
.under-line{
    width: 80%;
    height: 1px;
    background-color: #9b9b9b;
    display: block;
    margin: 2rem auto;
}